@import url("./section.css");
@import url("./header.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
	color:initial
}

body {
	margin: 0;
	background-color: white;
	font-family: 'Manrope', sans-serif;
}

p {
	text-align: left
}

p.blocktext {
	margin-left: auto;
	margin-right: auto;
	width: 6em
}

.fa-graduation-cap,
.fa-briefcase,
.fa-pencil-alt {
	color: #feca07;
	margin-left: 0px;
	margin-right: 10px;
}

.fa-futbol,
.fa-laptop,
.fa-dumbbell {
	font-size: 2em;
	margin: 10px;
}

h1 {
	text-align: center;
}

h1 span {
	color: #feca07;
}

h2 {
	text-align: left;
	margin-bottom: 2px;
	border-bottom: 2px solid #feca07;
	font-size: 1.2em;
	padding: 5px;
}

h3 {
	text-align: left;
	margin: 0px;
}

article {
	text-align: left;
	max-width: 450px;
	/* border: 1px solid red; */
}

aside {
	background-color: #feca07;
}

aside article {
	padding: .5rem !important;
}

aside h2 {
	background-color: black;
	color: #feca07;
	text-align: center;
}

aside section:last-of-type article {
	display: flex;
	justify-content: space-around;
}

@media screen and (min-width: 768px) {
	aside {
		width: 22vw;
		padding: 0;
		margin-top: 0px;
	}
	main {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	main>div {
		width: 76vw;
	}
	main div section:nth-of-type(3) ul {
		display: flex;
	}
	main div section:nth-of-type(3) ul li {
		display: block;
	}
	main div section:nth-of-type(3) ul li:before {
		content: "";
	}
	main div section:nth-of-type(3) ul li * {
		width: 100%
	}
	h2{
		padding: 5px;
	}
}